<h1>Lobby (<%= current_user.name %>)</h1>

<h3>Games</h3>

<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Player One</th>
			<th>Player Two</th>
			<th>Player Three</th>
			<th>Player Four</th>
		</tr>
	</thead>
	<% @lobby.games.each do |game| %>
		<tr>
			<td><%= link_to 'Play', game_path(game) %></td>
			<td><%= game.players[0].name %></td>
			<td><%= game.players[1].name %></td>
			<td><%= game.players[2].name %></td>
			<td><%= game.players[3].name %></td>
		</tr>
	<% end %>
</table>

<br />
<br />

<%= link_to 'New Game', new_game_path %>